@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-XJJ-A000, .icon-XJJ-A030, .icon-XJJ-A031, .icon-XJJ-A032, .icon-XJJ-A033, .icon-XJJ-A034, .icon-XJJ-A035, .icon-XJJ-A036, .icon-XJJ-A037, .icon-XJJ-A038, .icon-XJJ-A039, .icon-XJJ-A050, .icon-XJJ-A049, .icon-XJJ-A048, .icon-XJJ-A047, .icon-XJJ-A046, .icon-XJJ-A045, .icon-XJJ-A044, .icon-XJJ-A043, .icon-XJJ-A042, .icon-XJJ-A041, .icon-XJJ-A040, .icon-XJJ-A051, .icon-XJJ-A052, .icon-XJJ-A053, .icon-XJJ-A054, .icon-XJJ-A055, .icon-XJJ-A056, .icon-XJJ-A057, .icon-XJJ-A058, .icon-XJJ-A059, .icon-XJJ-A061, .icon-XJJ-A072, .icon-XJJ-A071, .icon-XJJ-A060, .icon-XJJ-A070, .icon-XJJ-A069, .icon-XJJ-A068, .icon-XJJ-A067, .icon-XJJ-A066, .icon-XJJ-A065, .icon-XJJ-A063, .icon-XJJ-A064, .icon-XJJ-A062, .icon-XJJ-A073, .icon-XJJ-A074, .icon-XJJ-A075, .icon-XJJ-A076, .icon-XJJ-A077, .icon-XJJ-A078, .icon-XJJ-A079, .icon-XJJ-A080, .icon-XJJ-A081, .icon-XJJ-A083, .icon-XJJ-A094, .icon-XJJ-A093, .icon-XJJ-A082, .icon-XJJ-A092, .icon-XJJ-A091, .icon-XJJ-A090, .icon-XJJ-A089, .icon-XJJ-A088, .icon-XJJ-A087, .icon-XJJ-A086, .icon-XJJ-A085, .icon-XJJ-A084, .icon-XJJ-A095, .icon-XJJ-A096, .icon-XJJ-A097, .icon-XJJ-A098, .icon-XJJ-A099, .icon-XJJ-A100, .icon-XJJ-A101, .icon-XJJ-A102, .icon-XJJ-A103, .icon-XJJ-A104, .icon-XJJ-A105, .icon-XJJ-A106 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-XJJ-A000:before {
	content: "\e000";
}
.icon-XJJ-A030:before {
	content: "\e001";
}
.icon-XJJ-A031:before {
	content: "\e002";
}
.icon-XJJ-A032:before {
	content: "\e003";
}
.icon-XJJ-A033:before {
	content: "\e004";
}
.icon-XJJ-A034:before {
	content: "\e005";
}
.icon-XJJ-A035:before {
	content: "\e006";
}
.icon-XJJ-A036:before {
	content: "\e007";
}
.icon-XJJ-A037:before {
	content: "\e008";
}
.icon-XJJ-A038:before {
	content: "\e009";
}
.icon-XJJ-A039:before {
	content: "\e00a";
}
.icon-XJJ-A050:before {
	content: "\e00b";
}
.icon-XJJ-A049:before {
	content: "\e00c";
}
.icon-XJJ-A048:before {
	content: "\e00d";
}
.icon-XJJ-A047:before {
	content: "\e00e";
}
.icon-XJJ-A046:before {
	content: "\e00f";
}
.icon-XJJ-A045:before {
	content: "\e010";
}
.icon-XJJ-A044:before {
	content: "\e011";
}
.icon-XJJ-A043:before {
	content: "\e012";
}
.icon-XJJ-A042:before {
	content: "\e013";
}
.icon-XJJ-A041:before {
	content: "\e014";
}
.icon-XJJ-A040:before {
	content: "\e015";
}
.icon-XJJ-A051:before {
	content: "\e016";
}
.icon-XJJ-A052:before {
	content: "\e017";
}
.icon-XJJ-A053:before {
	content: "\e018";
}
.icon-XJJ-A054:before {
	content: "\e019";
}
.icon-XJJ-A055:before {
	content: "\e01a";
}
.icon-XJJ-A056:before {
	content: "\e01b";
}
.icon-XJJ-A057:before {
	content: "\e01c";
}
.icon-XJJ-A058:before {
	content: "\e01d";
}
.icon-XJJ-A059:before {
	content: "\e01e";
}
.icon-XJJ-A061:before {
	content: "\e01f";
}
.icon-XJJ-A072:before {
	content: "\e020";
}
.icon-XJJ-A071:before {
	content: "\e021";
}
.icon-XJJ-A060:before {
	content: "\e022";
}
.icon-XJJ-A070:before {
	content: "\e023";
}
.icon-XJJ-A069:before {
	content: "\e024";
}
.icon-XJJ-A068:before {
	content: "\e025";
}
.icon-XJJ-A067:before {
	content: "\e026";
}
.icon-XJJ-A066:before {
	content: "\e027";
}
.icon-XJJ-A065:before {
	content: "\e028";
}
.icon-XJJ-A063:before {
	content: "\e029";
}
.icon-XJJ-A064:before {
	content: "\e02a";
}
.icon-XJJ-A062:before {
	content: "\e02b";
}
.icon-XJJ-A073:before {
	content: "\e02c";
}
.icon-XJJ-A074:before {
	content: "\e02d";
}
.icon-XJJ-A075:before {
	content: "\e02e";
}
.icon-XJJ-A076:before {
	content: "\e02f";
}
.icon-XJJ-A077:before {
	content: "\e030";
}
.icon-XJJ-A078:before {
	content: "\e031";
}
.icon-XJJ-A079:before {
	content: "\e032";
}
.icon-XJJ-A080:before {
	content: "\e033";
}
.icon-XJJ-A081:before {
	content: "\e034";
}
.icon-XJJ-A083:before {
	content: "\e035";
}
.icon-XJJ-A094:before {
	content: "\e036";
}
.icon-XJJ-A093:before {
	content: "\e037";
}
.icon-XJJ-A082:before {
	content: "\e038";
}
.icon-XJJ-A092:before {
	content: "\e039";
}
.icon-XJJ-A091:before {
	content: "\e03a";
}
.icon-XJJ-A090:before {
	content: "\e03b";
}
.icon-XJJ-A089:before {
	content: "\e03c";
}
.icon-XJJ-A088:before {
	content: "\e03d";
}
.icon-XJJ-A087:before {
	content: "\e03e";
}
.icon-XJJ-A086:before {
	content: "\e03f";
}
.icon-XJJ-A085:before {
	content: "\e040";
}
.icon-XJJ-A084:before {
	content: "\e041";
}
.icon-XJJ-A095:before {
	content: "\e042";
}
.icon-XJJ-A096:before {
	content: "\e043";
}
.icon-XJJ-A097:before {
	content: "\e044";
}
.icon-XJJ-A098:before {
	content: "\e045";
}
.icon-XJJ-A099:before {
	content: "\e046";
}
.icon-XJJ-A100:before {
	content: "\e047";
}
.icon-XJJ-A101:before {
	content: "\e048";
}
.icon-XJJ-A102:before {
	content: "\e049";
}
.icon-XJJ-A103:before {
	content: "\e04a";
}
.icon-XJJ-A104:before {
	content: "\e04b";
}
.icon-XJJ-A105:before {
	content: "\e04c";
}
.icon-XJJ-A106:before {
	content: "\e04d";
}
