.dd2-handle,
.dd-dragel > li > .dd2-handle {
    left: 0;
    top: 0;
    width: 36px;
    margin: 0;
    border-width: 1px 1px 0 0;
    text-align: center;
    padding: 0 !important;
    line-height: 38px;
    height: 100%;
    background: #EBEDF2;
    border: 1px solid #DEE4EA;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.dd2-content-label  {
  display: block;
  min-height: 28px;/**/
  margin: 1px 0;
  padding: 0px 0px 0px 0px;
  /*background: #F8FAFF;
  border: 1px solid #DAE2EA;*/
  color: #7C9EB2;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.task-badge {
    color: #aaa;
    background: #f9f9f7;
    line-height: 24px;
    padding: 0 4px;
    border-radius: 3px;
    border: solid 1px #e1e1e1;
    -webkit-text-size-adjust: none;
    font-size: 12px;
    display: inline-block;
    margin: 8px 1px 0 0
}

.task-badge:before {
    font-size: 14px;
    padding-right: 2px
}

.task-badge.badge-expire-due {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48
}

.task-badge.badge-expire-soon {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853
}

.task-badge.badge-todo-done {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847
}

