<?xml version="1.0" encoding="GBK"?>
<beans default-autowire="byName" 
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core" 
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
		http://jax-ws.dev.java.net/spring/core
		http://jax-ws.dev.java.net/spring/core.xsd 
		http://jax-ws.dev.java.net/spring/servlet 
		http://jax-ws.dev.java.net/spring/servlet.xsd">

	<wss:binding url="/jaxws/distribute">
		<wss:service>
			<ws:service bean="#distributeService" >
			    <ws:handlers>
			        <ref bean="handlerAuth" />
			    </ws:handlers>
			</ws:service>
		</wss:service>
	</wss:binding>
	<bean id="distributeService" class="com.xjj.ws.distribute.DistributeService" />
	<bean id="handlerAuth" class="com.xjj.ws.distribute.HandlerAuth" />
</beans>